<div class="container">
  <div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Log in</h2>

    <form #frmLogin="ngForm" class="login-container" (ngSubmit)="onLogin(frmLogin)">
      <p><input type="email"  name="email" ngModel placeholder="Email" required></p>
      <p><input type="password" name="password" ngModel placeholder="Password" required></p>
      <p><input type="submit" value="Log in"></p>
    </form>
  </div>
</div>
