<div class="container">
  <div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Create an account</h2>

    <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
      <p><input type="text"  name="name" ngModel placeholder="Name" required></p>
      <p><input type="email"  name="email" ngModel placeholder="Email" required></p>
      <p><input type="password" name="password" ngModel placeholder="Password" required></p>
      <p><input type="submit" value="Register"></p>
    </form>
  </div>
</div>
